{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mon compte</title>
    <script type="text/javascript" src=" {% static 'materialize/js/persojquery.js' %}"></script>
    <script type="text/javascript" src=" {% static 'materialize/js/materialize.min.js' %}"></script>
    <script type="text/javascript" src=" {% static 'materialize/js/perso.js' %}"></script>
    <link type="text/css" rel="stylesheet" href= "{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <div class="row">
        <div class="container">
            <h1 class="center">Gestion de compte</h1>


                        <ul class="nav navbar-nav bas">
                        <div class="col s4">
                             <li>
                                <a class="waves-effect waves-light btn-large" href="{% url 'recharger_compte' %}">Charger compte</a>
                              </li>
                        </div>
                        <div class="col s4">
                              <li >
                                <a class="waves-effect waves-light btn-large" href="{% url 'transfert_credit' %}">Transfer de crédit</a>
                              </li>
                        </div>
                        <div class="col s4">
                              <li>
                                <a class="waves-effect waves-light btn-large" href="{% url 'historique' %}">Consulter historique</a>
                              </li>
                        </div>
                        </ul>

        </div>
    </div>
    <div class="container">
  <div class="card">
    <div class="card-content">
      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test4">Test 1</a></li>
        <li class="tab"><a class="active" href="#test5">Test 2</a></li>
        <li class="tab"><a href="#test6">Test 3</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test4">Test 1</div>
      <div id="test5">Test 2</div>
      <div id="test6">Test 3</div>
    </div>
    </div>
    </div>
</body>
</html>
<style>
    .center{text-align:center;}
    .bas{margin-top:100px;
</style>
{% endblock %}