

{% load static %}

{% block content %}

<html lang="en">
<head>
   <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Material Design Lite</title>

        <link type="text/css" rel="stylesheet"  href= "{% static 'materialize/css/styles.css' %}"  media="screen,projection"/>
       <!-- Tile icon for Win8 (144x144 + tile color) -->
        <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
        <meta name="msapplication-TileColor" content="#3372DF">

        <link type="text/css" rel="stylesheet"  href= "{% static 'materialize/css/perso.css' %}"  media="screen,projection"/>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"> </script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src=" {% static 'materialize/js/perso.js' %}"></script>

       <!--boostrapp design link -->
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>






        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

    <style>
    a.mdl-navigation__link.active3 {
    background: black;
}


    .form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }
        }
        #colorsd.colorss{color:black;}
        a.colorss {
                color: black;
                }

 label#searchs {
        top: 30px;
    }
td.centrer,th.centrer{text-align:center;}
table.mdl-data-table.js-data-table {
    width: 100%;
}
a.mdl-navigation__link,a.surligeur {
    text-decoration: none;
}
    </style>
</head>
<body onload="myFunction()">
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Cours publiés</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                <label id="searchs" class="mdl-button mdl-js-button mdl-button--icon" for="search">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label"  for="search">Enter your query...</label>
                </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                <li class="mdl-menu__item">Statistiques</li>

            </ul>
        </div>
    </header>


    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
            <img src='{{ img }}' alt="img"  width="100" class="demo-avatar">
            <div class="demo-avatar-dropdown">
                <span>{{ email }}</span>
                <div class="mdl-layout-spacer"></div>
                <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                    <li class="mdl-menu__item" ><a class="surligeur" href="{% url 'view_profile' %}">Mon profile</a></li>
                    <li class="mdl-menu__item"><a class="surligeur" href="/oorax/logout/">Deconnexion</a></li>

                </ul>
            </div>
        </header>

        <nav class="demo-navigation mdl-navigation  mdl-color--blue-grey-800" id="slide-out" >
            <a class="mdl-navigation__link" href="{% url 'index' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Accueil</a>
            <a class="mdl-navigation__link" href="{% url 'user_mes_cours' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>Mes cours</a>
            <a class="mdl-navigation__link active3" href="{% url 'mes_cours' %}"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">report</i>Cours publiés</a>

            <a class="mdl-navigation__link" href="{% url 'historique' %} "><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">local_offer</i>Credits</a>

        </nav>
    </div>

    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid">
            <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

                <button id="myBtn" type="button" onclick="openForm()" class="mdl-button">Ajouter un cour</button>

            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                <div class="table-responsive table-responsive-sm table-responsive-md table-responsive-lg table-responsive-xl">

                    <table class="table mdl-color--white">
                                        <thead class="thead-dark">
                                            <tr>

                                                <th class="centrer">N</th>
                                                <th class="centrer">Titre</th>
                                                <th class="centrer">Categotie</th>
                                                <th class="centrer">Etat</th>
                                                <th class="centrer">Prix</th>
                                                <th class="centrer">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for u in cours %}
                                            {% if u.etat_cour is False %}
                                            <tr>
                                                <td class="centrer">{{ forloop.counter }}</td>
                                                <td class="centrer"> {{ u.titre }}</td>
                                                {% for b in categories %}
                                                    {% if b.id == u.categorieid_id %}
                                                <td class="centrer">  <span class="name">{{ b.nom_categorie }}</span> </td>
                                                    {% endif %}
                                                    {% endfor %}
                                                <td class="centrer"> <span class="product">Non publié </span> </td>
                                                <td class="centrer"><span class="count">{{ u.prix }}</span></td>
                                                <td class="centrer">

                                                        <a href="{% url 'chapitre_cour' u.id %}" data-toggle="tooltip" data-placement="top" data-animation="true" title="Ajouter chapitre"><i class="material-icons">add</i></a>
                                                        <a  href="{% url 'cour_edit' u.id %}" data-toggle="tooltip" data-placement="top" title="Modifier Cour"><i class="material-icons">edit</i></a>
                                                        <a  href="{% url 'cour_delete' u.id %}" data-toggle="tooltip" data-placement="top" title="Supprimer cour"><i class="material-icons">delete</i></a>
                                                        <a href="{% url 'question' u.id %}"data-toggle="tooltip" data-placement="top" title="Ajouter Question"><i class="material-icons">helpe</i></a>


                                                </td>
                                            </tr>
                                        {% endif %}
                    {% endfor %}
                                        </tbody>
                                    </table>
                    <div class="mdl-grid mdl-navigation mdl-layout__content">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col">
                <nav aria-label="...">
                      {% if cours.has_other_pages %}
                          <ul class="pagination">

                               {% if cours.has_previous %}
                                    <li class="page-item">
                                      <a class="page-link" href="?page={{ cours.previous_page_number }}" >&laquo;</a>
                                    </li>
                              {% else %}
                                  <li class="page-item disabled"><span>&laquo;</span></li>
                              {% endif %}

                               {% for i in cours.paginator.page_range %}
                                     {% if cours.number == i %}
                                        <li class="page-item active"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
                                    {% else %}
                                        <li class="page-item "><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                               {% endfor %}

                               {% if cours.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ cours.next_page_number }}">&raquo;</a></li>

                              {% else %}
                                <li class="page-item disabled"><span>&raquo;</span></li>

                              {% endif %}

                          </ul>
                       {% endif %}
                </nav>
            </div>
            <div class="mdl-cell mdl-cell--2-col"></div>

        </div>
                </div>

                <!-- /.table-stats -->
            </div>

        </div>

<!-- The Modal -->
    </main>
</div>
<div id="myModal" class="modal mdl-grid">
<div  class="mdl-cell mdl-cell--12-col">

  <!-- Modal content -->
  <div class="modal-contents ">

    <div class="modal-body ">

        <form method="post" action="" enctype="multipart/form-data">

                                <div class="card-header"><strong>Créer un </strong><small> Cour</small></div>
                                <div class="card-body card-block">
                                    {% csrf_token %}
                                    <div class="form-group">{{ form.as_p }}</div>
                                    <input name="users" type="hidden" value="{{ user.id }}" id="users" readonly />
                                     <label> Domaine:
                                              <input type="text" name="movies2" id="domaine"  required  list="movies2"/>
                                              <datalist id="movies2">

                                                  <label> or select one from the list:
                                                      {% if domaine %}

                                                         <select  name="movies2" id="Dome" >
                                                              <option value="">----------------------</option>
                                                                    {% for dom in domaine %}
                                                              <option value="{{ dom.nom_domaine }}"  id="primes">{{ dom.nom_domaine }}</option>
                                                                    {% endfor %}
                                                        </select>
                                                      {% endif %}
                                                  </label>
                                              </datalist>
                                            </label><br><br>
                                     <label> Categorie:
                                              <input type="text" name="movies" id="categories"   required  list="movies"/>
                                              <datalist id="movies">

                                                  <label> or select one from the list:
                                                      {% if categories %}

                                                         <select  name="movies" id="categorie" >
                                                              <option value="">----------------------</option>
                                                                    {% for cat in categories %}
                                                              <option value="{{ cat.nom_categorie }}"  id="prime">{{ cat.nom_categorie }}</option>
                                                                    {% endfor %}
                                                        </select>
                                                      {% endif %}
                                                  </label>
                                              </datalist>
                                            </label><br><br>
                                    <input name="hides" type="hidden"  id="hides"  />
                                    <input name="hides2" type="hidden"  id="hides2"  />
                                </div>
    <div class="modal-footer">

        <button type="button"  class="btn btn-outline-light close">Annuler</button>
        <button type="submit" class="btn btn-outline-light">Enregistrer</button>


    </div>
        </form>

  </div>
  </div>
</div>
</div>



</body>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})


// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}



$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})




    function myFunction() {
        var explic= document.getElementById("test1");
        var temps = document.getElementById("temps1");
        var ntfin = document.getElementById("fin1");

        var text = document.getElementById("text");

        if (explic.checked == true)
        {
            document.getElementById("less").value=1
            document.getElementById("less2").value=0
            document.getElementById("less3").value=0
            temps.checked = false;
            ntfin.checked = false;
        }


        else if(temps.checked == true)
        {

            document.getElementById("less2").value=1
            document.getElementById("less").value=0
        }

        else if(ntfin.checked == true)
        {
            document.getElementById("less3").value=1
            document.getElementById("less").value=0

        }

        else
        {

            ntfin.checked =true
            document.getElementById("less").value=0
            document.getElementById("less2").value=0
            document.getElementById("less3").value=1


        }
    }


    $(document).on('submit','#formulaire',function(e){
        /*e.preventDefault();*/
        $.ajax({
            type:'POST',
            url:'{% url 'check' %}',
            data:{
                less:$("input[name=less]").val(),
                less2:$("input[name=less2]").val(),
                less3:$("input[name=less3]").val(),

                csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
            },
            success:function(){

            }
        });
    });


   /* $("button").click(function(event){
        event.preventDefault()

        $.ajax({
            type:"GET",
            url: "http://fantasy.premierleague.com/web/api/elements/100/",
            success: function(data) {
                $("body").append(JSON.stringify(data));
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(jqXHR.status);
            },
            dataType: "jsonp"
        });
    });*/




</script>
</html>
{% endblock %}