{% load static %}
{% block content %}
 <script type="text/javascript" src=" {% static 'materialize/js/persojquery.js' %}"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script type="text/javascript" src=" {% static 'materialize/js/perso.js' %}"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="row">
        <div class="container">
        <form action="http://127.0.0.1:8000/oorax/register/"  method="POST" enctype="multipart/form-data" class="col s6" >
            {% csrf_token %}
            <div class="row">
                    <div class="input-field col s12">
                    <input id="text" name="username" type="text" value class="validate">
                    <label for="text">Username</label>
                    </div>
                </div>
            <div class="row">
                <div class="input-field col s12">
                <input id="email" name="email" type="email" value class="validate">
                <label for="email">Email</label>
                </div>
            </div>

           <div class="input-field col s12">
                <select name="fonction">
                  <option value="" disabled selected>Choose your option</option>
                  <option value="3">Apprenants</option>
                  <option value="1">Auteurs</option>

                </select>
                <label>Materialize Select</label>
              </div>
            <div class="row">
                <div class="input-field col s12">
                <input id="contact" name="contact" type="number" value class="validate">
                <label for="contact">Contact</label>
                </div>
            </div>

        <div class="row">
            <div class="input-field col s12">
            <input id="password"  name="password1" type="password" value class="validate">
            <label for="password">Password</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
            <input id="password2"  name="password2" type="password" value class="validate">
            <label for="password2">Password</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit" >Submit
            <i class="material-icons right">send</i>
        </button>
        </form>
        </div>
  </div>


  <a href="http://127.0.0.1:8000/users/"> Liste users</a>

{% endblock %}