<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 {% for l in lesson %}
    {% for eva in liste_evalu %}
        {% for qe in quesevalu %}
            {% if eva is qe.evaluation_id %}
                {% for q in question %}
                    {% if qe.question_id is q.id %}


                        <tr>
                            <td>{{ l.id }}</td>
                            {% if l.id is q.lesson_id %}

                            <td><button><a href="{% url 'faire_interro' id=eva %}">Evaluation {{ eva }}</a></button></td>
                            {% else %}
                            <td>{{ l.nom_lesson }} </td>
                              {% endif %}
                             <td><a href="{% url 'contenu_lesson' l.id %}">Ajouter Contenu</a> || <a href="{% url 'lesson_edit' l.id %}">Edit</a> || <a href="{% url 'lesson_delete' l.id %}">Delete</a> </td>

                        </tr>

                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endfor %}
</body>
</html>

 <table >
            <thead> <!-- En-tête du tableau -->
               <tr>
                   <th>N</th>
                   <th>Titre</th>
                   <th>Actions</th>
               </tr>
            </thead>
            {% for c in chapitre %}
            <tr >

                <td>{{ c.id }}</td>
                <td>{{ c.nom_chapitre }}</td>
                <td>
                    <a href="{% url 'lesson_chapitre' c.id %}">Ajouter Lesson</a> ||
                    <a href="{% url 'chapitre_edit' c.id %}">Edit</a> ||
                    <a href="{% url 'chapitre_delete' c.id %}">Delete</a> </td>
            </tr>

            {% endfor %}
        </table>


// Simple list
Sortable.create(simpleList, { /* options */ });

// List with handle
Sortable.create(listWithHandle, {
  handle: '.glyphicon-move',
  animation: 150
});


 {% for less in lesson %}
             {% if less.chapitre_id in chap_liste %}
                {% for ch in chap_liste %}
                    {% for c in chapitre %}
                        <div class="divider"></div>
                       <div class="section">
                            {% if ch is c.id %}
                                   <h5>Chapitre {{ c.id }} :  {{ c.nom_chapitre }} </h5>
                                   <p>-------lesson {{ less.id }} :  {{ less.nom_lesson }} </p>
                            {% else %}
                              <h5>Chapitre {{ c.id }} :  {{ c.nom_chapitre }} </h5>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
             {% endif %}
        {% endfor %}


{% for inscri in  liste_inscr %}
          {% for lis in liste_transact %}
            {% if inscri.transaction_id in liste_transact %}
                {% for cou in cour %}
                    {% if cou.id is inscri.cour_id %}
                        <li class="collection-item avatar">
                          <img src='{{ cou.image.url }}' alt="{{ cou.image.name }}" class="circle" width="100">
                          <span class="title">Titre: {{ cou.titre }}</span>
                          <p>Description : {{ cou.description }}</p>
                          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
         {% endfor %}
     {% endfor %}

{% for interro in lesson %}
                                        {% for ev in evalu %}
                                            {% if interro.id in liste_chap %}

                                                <ul>
                                                    {% if interro.id in ev.typeId %}
                                                        <li class="dist">
                                                         <input type="radio"  name="check"  id="checks" value="{{ interro.id }}">{{ interro.nom_lesson }}
                                                        </li>
                                                    {% else %}
                                                        <li>
                                                         <input type="radio"  name="check"  id="check" value="{{ interro.id }}">{{ interro.nom_lesson }}
                                                        </li>
                                                    {% endif %}
                                                 </ul>

                                            {% endif %}
                                        {% endfor %}
                                {% endfor %}