
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creer Code secret</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"> </script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href= "{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
</head>
<body>
    <div class="row">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
             <div class="container center">
                 <h3>Saisissez votre code secret </h3>
                    <form class="col s12" method="post" action="{% url 'creer_code_secret' %}" >{% csrf_token %}

                        <div class="row">
                            <div class="input-field col s12">
                              <input id="password" type="password" class="validate">
                              <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="passwords" type="password" class="validate">
                              <label for="passwords">Répéter le code</label>
                            </div>
                        </div>
                        <input id="code" name="code" type="hidden" class="validate">
                         <button class="btn waves-effect waves-light left" type="submit" name="action">Enregistrer
                            <i class="material-icons right">send</i>
                         </button>
                    </form>
             </div>
        </div>
    </div>
    <div class="col s12 m3"></div>

<script language="JavaScript">

 $(document).ready(function(){
    $("#password").change(function(){
        $a = $("#password").val();
        $("input[id=code]").val($a);
});
})


$(document).on('submit',function(e){
/*e.preventDefault();*/
      $.ajax({
        type:'POST',
        url:'{% url 'creer_code_secret' %}',
        data:{
            code:$("input[name=code]").val(),
          csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
        },
        success:function(){

        }
      });
	});
</script>
</body>
</html>
<style>
    .center{text-align:centre;}
    .left{text-align:right;}
</style>
{% endblock %}