<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{ id }}----
{{ titre }}----
{{ prix }}

<form method="post" action="{% url 'achat' %}">
      {% csrf_token %}
     {{ form.as_p }}


<input type="hidden" name="chapid"  id="chapid" value="{{ id }}">

<input type="hidden" name="users"  id="users" value="{{ user.id }}">
<input type="submit" value="Acheter">
 </form>

<script>


$(document).on('submit','#formulaire',function(e){
/*e.preventDefault();*/
      $.ajax({
        type:'POST',
        url:'{% url 'achat' %}',
        data:{
            chapid:$("input[name=chapid]").val(),
            users:$("input[name=users]").val(),

          csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
        },
        success:function(){

        }
      });
	});
</script>
</body>
</html>