{% extends "base.html" %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form method="post" action="">

    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="submit" />
</form>

<div class="ligne" ><h4 class="lignes">Cour: <a href="{% url 'cour'  %}">{{ nom }}</a> >>>> Chapitre</h4></div>

        <table>
            <thead> <!-- En-tête du tableau -->
               <tr>
                   <th>N</th>
                   <th>Titre</th>
                   <th>Actions</th>
               </tr>
            </thead>
            {% for c in chapitre %}
            <tr>

                <td>{{ c.id }}</td>
                <td>{{ c.nom_chapitre }} </td>
                <td><a href="{% url 'lesson_chapitre' c.id %}">Ajouter Lesson</a> || <a href="{% url 'chapitre_edit' c.id %}">Edit</a> || <a href="{% url 'chapitre_delete' c.id %}">Delete</a> </td>
            </tr>

            {% endfor %}
        </table>


</body>
<style>
    td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
     padding:15px;
}
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
     padding:15px;
}
td
{
    border: 1px solid black;
    padding:15px;
}

th
{
    border: 1px solid black;
    padding:15px;
}

.ligne{display:flex;}
</style>

</html>
{% endblock %}