
{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <!-- Latest compiled and minified CSS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

      <script type="text/javascript" src=" {% static 'materialize/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src=" {% static 'materialize/js/perso.js' %}"></script>
      <link type="text/css" rel="stylesheet" href= "{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
 <!-- Modal Trigger -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Ajouter Chapitre</h4>
      <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
          <div class="modal-footer">
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                     <i class="material-icons right">send</i>
                </button>
              <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="large material-icons">close</i></a>
          </div>
      </form>
    </div>

</div>

 <div id="modal2" class="modal">
    <div class="modal-content">
            <h4>Choisir chapitres</h4>
            <div class="input-field col s12">
                <select id="selchap">
                  <option value="" disabled selected>Choose your option</option>
                  {% for b in chapitre %}
                  <option value="{{ b.id }}">{{ b.nom_chapitre }}</option>
                  {% endfor %}
                </select>

            </div>

          <h4>Ajouter Lesson</h4>
          <form method="post" action="{% url 'lesson_chapitre' %}" >
                {% csrf_token %}
                {{ formless.as_p }}
              <div class="modal-footer">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                         <i class="material-icons right">send</i>
                    </button>
                  <a href="" class=" modal-action modal-close waves-effect waves-green btn-flat"><i class="large material-icons">close</i></a>
              </div>
              <input name="less" type="hidden"  id="less" readonly />
          </form>

    </div>
 </div>


  <!-- Modal Structure -->

<div class="ligne">
    <h4 class="lignes">
    Cour: <a href="{% url 'cour'  %}">{{ nom }}</a>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Ajouter un chapitre</a>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Ajouter une lesson</a>
</div>

 {% for c in chapitre %}


                         <div class="divider"></div>
                         <div class="section">
                            {% if c.id in chap_liste %}
                                <h5>Chapitre {{ c.id }} :  {{ c.nom_chapitre }} </h5>
                              {% for less in lesson %}
                                    {% if less.chapitreid_id is c.id %}
                                         <p>-------lesson {{ less.id }} :  {{ less.nom_lesson }} </p>
                                    {% endif %}
                              {% endfor %}
                            {% endif %}
                         </div>


 {% endfor %}





<script>
//recup id chapitre
   $(document).ready(function(){
    $("#selchap").change(function(){
        $a = $("#selchap").val();
        $("input[id=less]").val($a);
});
})
$(document).on('submit','#formulaire',function(e){
/*e.preventDefault();*/
      $.ajax({
        type:'POST',
        url:'{% url 'lesson_chapitre' %}',
        data:{
            less:$("input[name=less]").val(),
          csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
        },
        success:function(){

        }
      });
	});
</script>

</body>
<style>
body {
  margin: 10px;
}

.glyphicon-move {
  cursor: move;
  cursor: -webkit-grabbing;
}

</style>

</html>
{% endblock %}