
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Gestion de compte</h1>

<h3>
            <ul class="nav navbar-nav">

                 <li>
                    <a class="nav-link" href="{% url 'recharger_compte' %}">Charger compte</a>
                  </li>


                  <li >
                    <a class="nav-link" href="{% url 'transfert_credit' %}">Transfer de crédit</a>
                  </li>

                 <li>
                    <a class="nav-link" href="{% url 'home' %}">S'incrire à un cour</a>
                  </li>

                  <li>
                    <a class="nav-link" href="{% url 'historique' %}">Consulter historique</a>
                  </li>



            </ul>
    </h3>
</body>
</html>