
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

      <script type="text/javascript" src=" {% static 'materialize/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src=" {% static 'materialize/js/perso.js' %}"></script>
      <link type="text/css" rel="stylesheet" href= "{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div class="card-panel teal lighten-2"><h5 class="center-align">{{ cour_titre }}</h5></div>
    <div class="container">
        &nbsp;<blockquote id="droite">

            <ul class="collection">
              <li class="collection-item">Objectif 1</li>
              <li class="collection-item">Objectif 2 </li>
              <li class="collection-item">Objectif 3</li>
              <li class="collection-item">Objectif 4</li>
            </ul>
        </blockquote>

        <div class="row">
            <div class="col s6"><i class="material-icons" id="auteur">person_pin</i><span>Ateur : {{ cour_auteur }}</span></div>
          
        </div>

        <ul class="collapsible" data-collapsible="accordion">
             {% for chap in chapitre %}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">filter_drama</i>Chapitre {{ chap.id }} : {{ chap.nom_chapitre }}</div>
                    <div class="collapsible-body">
                        <div class="row">
                            <div class="col s12 m12">
                                <blockquote id="">
                                <ul class="collection">
                                    <h4>Vous serez capable de: </h4>
                                  <li class="collection-item">Objectif 1</li>
                                  <li class="collection-item">Objectif 2 </li>
                                  <li class="collection-item">Objectif 3</li>
                                  <li class="collection-item">Objectif 4</li>
                                </ul>
                            </blockquote>
                                <ul class="collapsible" data-collapsible="accordion">
                                    {% for less in lesson %}
                                        {% if less.chapitreid_id is chap.id %}
                                            <li>
                                                <div class="collapsible-header">
                                                    <i class="material-icons">filter_drama</i>Lesson {{ less.id }} : {{ less.nom_lesson }}</div>
                                                <div class="collapsible-body">
                                                    {% for cont in contenu %}
                                                        {% if cont.lessoneid_id is less.id %}
                                                            <h4>{{ cont.titre }}</h4>
                                                            <p>{{ cont.contenu_texte }}</p>
                                                         {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>


    </div>
</body>

</html>
<style>
#droite {
  margin: 0px ;
}
#auteur{
color:#ee6e73;
}
</style>
