{% extends "base.html" %}


{% block content %}

<body>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <form method="post" action="" enctype="multipart/form-data">

    {% csrf_token %}
    {{ form.as_p }}
        <input name="users" type="hidden" value="{{ user.id }}" id="users" readonly />

       <label> Categorie:


          <input type="text" name="movies" id="categories"    list="movies"/>


          <datalist id="movies">

              <label> or select one from the list:
                  {% if categories %}

                     <select  name="movies" id="categorie" >
                          <option value="">----------------------</option>
                                {% for cat in categories %}
                          <option value="{{ cat.nom_categorie }}"  id="prime">{{ cat.nom_categorie }}</option>
                                {% endfor %}
                    </select>
                  {% endif %}
              </label>
          </datalist>
        </label><br><br>
        <input name="hides" type="hidden"  id="hides" readonly />
        <input type="submit" value="submit" />

    </form>


        <table>
            <thead> <!-- En-tête du tableau -->
               <tr>
                   <th>N</th>
                   <th>Titre</th>
                   <th>Lien</th>
                   <th>Categorie</th>
                   <th>Etat</th>
                   <th>Nombre etudiant</th>
                   <th>Prix</th>
                   <th>Actions</th>
               </tr>
            </thead>
            {% for u in cours %}
                {% if u.etat_cour is False %}

            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.titre }} </td>
                <td> {{ u.lienId }} </td>

                    {% for b in categories %}
                        {% if b.id == u.categorieid_id %}
                        <td> {{ b.nom_categorie }} </td>

                        {% endif %}
                    {% endfor %}


                <td> Non publié  </td>
                <td> {{ u.nombre_etudiant }}</td>
                <td> {{ u.prix }}</td>
                <td><a href="{% url 'chapitre_cour' u.id %}">Ajouter Chapitre</a> ||
                    <a href="{% url 'cour_edit' u.id %}">Edit</a> || <a href="{% url 'cour_delete' u.id %}">Delete</a>||
                    <a href="{% url 'question' u.id %}">Créer question</a> </td>
            </tr>
                {% endif %}
            {% endfor %}
        </table>

<script>


$(document).ready(function(){
    $("#categories").change(function(){
        $a = $("#categories").val();
        $("input[id=hides]").val($a);
});
})

$(document).on('submit','#formulaire',function(e){
/*e.preventDefault();*/
      $.ajax({
        type:'POST',
        url:'{% url 'cour' %}',
        data:{
            hides:$("input[name=hides]").val(),
          csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
        },
        success:function(){

        }
      });
	});


</script>

</body>
<style>
    td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
     padding:15px;
}
table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
     padding:15px;
}
td
{
    border: 1px solid black;
    padding:15px;
}

th
{
    border: 1px solid black;
    padding:15px;
}


</style>
{% endblock %}

