{% load static %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
     <!-- pour editeur de texte debut -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://cdn.wysibb.com/js/jquery.wysibb.min.js"></script>
	<link rel="stylesheet" href="http://cdn.wysibb.com/css/default/wbbtheme.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="http://cdn.wysibb.com/js/jquery.wysibb.min.js"></script>
	<link rel="stylesheet" href="http://cdn.wysibb.com/css/default/wbbtheme.css" />

     <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="http://cdn.wysibb.com/js/jquery.wysibb.min.js"></script>
     <link rel="stylesheet" href="http://cdn.wysibb.com/css/default/wbbtheme.css" /-->

     <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script-->

     <script>
	$(document).ready(function() {

	  $("#textarea1").wysibb()
	})
	</script>


       <!-- pour editeur de texte fin -->

     <!--Import Google Icon Font-->
      <!--link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <!--link type="text/css" rel="stylesheet" href= "{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

      <!--Let browser know website is optimized for mobile-->
    <!--script type="text/javascript" src=" {% static 'materialize/js/materialize.min.js' %}"></script-->


</head>
    <body>

    <div class="row">
      <div class="blue-grey col s12 m12">This div is 12-columns wide on all screen sizes</div>
      <div class="container">
          <div class="col s2"></div>
          <div class="col s8">

              <div class="col s12 m6 l6 card-panel teal lighten-2 padding-right-s3 bordure"><h3 class="flow-text">Oorax Pro</h3><br><p>formation professionnel</p></div>
              <div class="col s12 m6 l6 card-panel teal lighten-2 padding-right-s bordure"><h3 class="flow-text">Oorax Exaco</h3><br><p>examens et concours</p></div>
              <div class="col s12 m6 l6 card-panel teal lighten-2 padding-right-s3 bordure"><h3 class="flow-text">Oorax Academi</h3><br><p>aide scolaire et universitaire</p></div>
              <div class="col s12 m6 l6 card-panel teal lighten-2 padding-right-s bordure"><h3 class="flow-text">Oorax Sondage</h3><br><p>enquette et sondage</p></div>
          </div><br><br> <br>

       </div>
    </div>
 <div class="row">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea id="textarea1" class="materialize-textarea editor"></textarea>

                    </div>
                  </div>
                </form>
             </div>
    </body>
  <style>
      /*.col.s12.padding-right-s3 {
    margin-left: -15px;
    margin-right: 15px;
}*/

.bordure{border:1px solid orange;padding:20px;
  box-sizing:border-box;}


  </style>
</html>
{% endblock %}
        