
{% load static %}
{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
         <!-- pour editeur de texte debut -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Title</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src=" {% static 'materialize/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src=" {% static 'materialize/js/perso.js' %}"></script>
        <link type="text/css" rel="stylesheet" href= "{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link type="text/css" rel="stylesheet"  href= "{% static 'materialize/css/perso.css' %}"  media="screen,projection"/>

    </head>

    <body>
        <div class="row">
                <nav id="mysearch-bar2">
                        <div class="nav-wrapper">
                          <a href="#!" class="brand-logo">Logo</a>
                          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                          <ul class="right hide-on-med-and-down">
                            <li><a href="sass.html">S'inscrire</a></li>
                            <li><a href="mobile.html">Se connecter</a></li>
                          </ul>
                        </div>
                      </nav>
                    
                      <ul class="sidenav" id="mobile-demo">
                        <li><a href="sass.html">Sass</a></li>
                        <li><a href="badges.html">Components</a></li>
                        <li><a href="collapsible.html">Javascript</a></li>
                        <li><a href="mobile.html">Mobile</a></li>
                      </ul>
        </div>

        <div class="container" >
                <h1 class="center-align titre">Trouve vite</h1>
            <nav id="mysearch-bar">
                <div class="nav-wrapper">
                <form action="/search/" method="get">
                    <div class="input-field">
                        <input type="text" name="q" id="q" placeholder="recherchez sur trouve vite"/>
                    </div>
                </form>
                </div>
            </nav>
        </div>

    </body>
</html>

{% endblock %}
 
      