
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

      <script type="text/javascript" src=" {% static 'materialize/js/materialize.min.js' %}"></script>
        <script type="text/javascript" src=" {% static 'materialize/js/perso.js' %}"></script>
      <link type="text/css" rel="stylesheet" href= "{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<h1>Mes cours</h1>

 <ul class="collection">

     {% for cou in cour %}
        {% for inscri in inscription %}
            {% if cou.id is inscri.cour_id %}
                {% for trans in transaction %}
                    {% if trans.id is inscri.transaction_id %}
                         <li class="collection-item avatar">
                             {% if cou.image %}
                             <img src='{{ cou.image.url }}' alt="{{ cou.image.name }}" class="circle" width="100">
                               {% endif %}
                             <span class="title">Titre: {{ cou.titre }}</span>
                             <p>Description : {{ cou.description }}</p>

                             <a href="{% url 'contenu_mes_cours' cou.id %}" class="secondary-content">
                                     <button class="btn waves-effect waves-light" type="submit" name="action">Ouvrir
                                        <i class="material-icons right">send</i>
                                    </button>
                             </a>

                         </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
     {% endfor %}

 </ul>

</body>
</html>