{% load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"> </script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/javascript" src=" {% static 'materialize/js/perso.js' %}"></script>
    <title>Title</title>

       {% block stylesheet %}{% endblock %}

    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  </head>

<body>
<div class="container">
    <h1>Enrégistrer Etudiant</h1>
    {% block content %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="enregistrer" />
    </form>
</div>

{% endblock %}



</body>
</html>