{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

       <!-- pour editeur de texte debut -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <!-- pour editeur de texte fin -->


       {% block stylesheet %}{% endblock %}

    <title>{% block title %}Django Auth Tutorial{% endblock %}</title>
  </head>
  <body>
<div class="container">

<!------ Include the above in your HEAD tag ---------->

<nav class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">ComptaClouds</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">

            {% if user.is_authenticated %}

            <ul class="nav navbar-nav">

                 <li>
                    <a class="active nav-link active" href="/account">Home</a>
                  </li>
                  <li >
                    <a class="nav-link" href="/account/profile">Profile</a>
                  </li>
                  <li>
                    <a class="nav-link disabled" href="/account/profile/edit">Modifier profile</a>
                  </li>
                  <li>
                    <a class="nav-link disabled" href="/account/change-password/">Modifier mot de pass</a>
                  </li>
                  <li>
                    <a class="nav-link disabled" href="/account/reset-password/">Mot de pass perdu</a>
                  </li>
            </ul>
             <ul class="nav navbar-nav navbar-right">
               <li>
                    <a  class="nav-link disabled" href="/account/logout">Deconnexion</a>
               </li>

            </ul>


            {% else %}


            <ul class="nav navbar-nav navbar-right">
                  <li>
                    <a class="nav-link" href="/account/login">Login</a>
                  </li>

                    <li>
                    <a class="nav-link" href="/account/signup">S'incrire</a>
                  </li>


            </ul>
             {% endif%}
        </div>
    </nav>



     <main class="">
    {% block content %}
    {% endblock %}
  </main>
</div>
  </body>
</html>